<!DOCTYPE html>
<html>

<head>
<link rel='stylesheet' href='/stylesheets/style.css' /> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="/javascripts/search.js"></script>
</head>

<body>
<form class="searchBox">
<input type="text" name="query" size=10>
<input type="text" name="contextOption" size=4>
<input type="checkBox" name="caseOption" checked="checked">
</form>

<button id="submitButton">grep</button>

<div class="searchResult">
</div>

</body>

</html>
