.filelist {
  position: absolute;
  width: 100%;
}

.snippet {
  white-space: pre-wrap;
  background-color: #F3F3F7;
}

.locator {
  font-style: italic;
  font-size: 10px;
  color: #3982CC;
}

.keyword {
  font-weight: bold;
  color: #FF0000;
}

#submitButton {
  width: 150px;
  font-weight: bold;
  font-size: 15px;
}
